<a href="https://colab.research.google.com/github/godud2604/AI-bootcamp/blob/main/%08DB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
DB = '/content/drive/MyDrive/biodata/myDB.db'

In [ ]:
con = sqlite3.connect( DB )

cur = con.cursor()
cur.execute("""SELECT *
               FROM productTable """)
print("-------------------------------------------")
print("제품ID    제품이름              가격       수량")
print("-------------------------------------------")

while True:
  row = cur.fetchone()
  if row == None:
    break

  print("%-10s %-15s %-10d %-d" %
        (row[0], row[1], row[2], row[3]))


print()

cur.execute("""SELECT *
               FROM productTable
               WHERE amount < 50 """)
print("-------------------------------------------")
print("제품ID    제품이름              가격       수량")
print("-------------------------------------------")

while True:
  row = cur.fetchone() # generator
  if row == None:
    break

  print("%-10s %-15s %-10d %-d" %
        (row[0], row[1], row[2], row[3]))


print()

cur.execute("""SELECT pCode, COUNT(*)
               FROM salesTable
               GROUP BY pCode """)
print("-------------------------------------------")
print("제품ID    판매건수    ")
print("-------------------------------------------")

while True:
  row = cur.fetchone() # generator
  if row == None:
    break

  print("%-10s  %-10d" % (row[0], row[1]))

print()

cur.execute("""SELECT userTable.userName, productTable.pName, salesTable.saleYear,
               salesTable.saleAmount, userTable.email
               FROM userTable, productTable, salesTable
               WHERE userTable.id = salesTable.id AND productTable.pCode = salesTable.pCode""")
print("----------------------------------------------------------------")
print("고객명       제품이름        판매연도    판매수량           고객이메일    ")
print("----------------------------------------------------------------")

while True:
  row = cur.fetchone() # generator
  if row == None:
    break

  print("%-10s  %-10s  %-10d  %-10d  %s" % (row[0], row[1], row[2], row[3], row[4]))

con.close() # DB 종료

-------------------------------------------
제품ID    제품이름              가격       수량
-------------------------------------------
p0001      노트북             1200000    25
p0002      마우스             10000      300
p0003      키보드             14000      100

-------------------------------------------
제품ID    제품이름              가격       수량
-------------------------------------------
p0001      노트북             1200000    25

-------------------------------------------
제품ID    판매건수
-------------------------------------------
p0001       2
p0002       4
p0003       1

----------------------------------------------------------------
고객명       제품이름        판매연도    판매수량           고객이메일
----------------------------------------------------------------
John Bann   마우스         2020        1           john@naver.com
Kim Chi     노트북         2021        2           kim@daum.net
Kim Chi     마우스         2019        2           kim@daum.net
Lee Chingu  키보드         2020        1           lee@gmail.com
Park Su     노트북         2020        1           park@hotmail.com
Park Su     마우스         2019        2           park@hotmail.com
Park Su     마우스         2021        3           park@hotmail.com

# 새 섹션

# 새 섹션